{{> header}}

<div class="Form">
  <form dir="rtl" action="/users/resetPassword" method="POST">
    <div class="form-group">
      <label class="login_label" for="email">
        <p class="text-white"> البريد الإلكتروني
      </label>
      <input class="login_input" id="email" name="email" type="email" class="form-control"
        placeholder=" البريد الاكتروني " required>
    </div>
    <div class="form-group">
      <label class="login_label" for="password">
        <p> كلمةالمرور الجديدة
      </label>
      <input class="login_input" id="password" name="password" type="password" placeholder="  رمز الدخول " required>
    </div>
    <div class="form-group">
      <input id="token" name="token" type="text" class="form-control" hidden value="{{token}}">
    </div>
    <div class="loginDiv_btn">
      <button class="btnclass  login_btn">
        <p class="select"><i class="fa fa-sign-in " aria-hidden="true"></i> استعادة</p>
      </button>
    </div>
    <div class="loginDiv_btn">
      <a href="/users/login" style="color: white;"> تسجيل الدخول</a>
    </div>
  </form>
</div>
{{> footer}}