{{> header}}
<link rel="stylesheet" href="/assets/css/login.css">
<div class="bg-image"></div>
<div class="bg-text">
  <div class="Text"></div>
  <div class="Vline"></div>
  <div class="Form">
    {{!-- <p class="select">مكتمل</p> --}}
    <h3 class=" select text-center"> أستعادة كلمة المرور</h3>
    <form dir="rtl" action="/users/resetPasswordRequest" method="POST">
      <div class="form-group">
        <label class="login_label" for="username" class=" float-right ">
          <p class="text-white"> البريد الإلكتروني</p>
        </label>
        <input class="login_input" id="email" name="email" type="email" class="form-control"
          placeholder=" البريد الاكتروني " required>
      </div>
      <div class="loginDiv_btn">
        <button class="btnclass  login_btn">
          <p class=""><i class="fa fa-sign-in" aria-hidden="true"></i> استعادة</p>
        </button>
      </div>
      <div class="loginDiv_btn">
        <a class="text-white" href="/users/login"> تسجيل الدخول </a>
      </div>
      <h6 class="pt-3"> جميع الحقوق محفوظه &#169; مكتمل </h6>
    </form>
  </div>
</div>
{{> footer}}