<li class="nav-item dropdown nav-item ">
  <a class="  nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة مالية
  </a>
  <div class="dropdown-menu" dir="rtl" aria-labelledby="navbarDropdownMenuLink">
   <div style="text-align: center"  class="center">
         <a class="dropdown-item" href="/financial/add">اضافة مالية</a>
    <a class="dropdown-item" href="/financial/report">طباعة مالية</a>
    <a class="dropdown-item" href="/financial">عرض مالية</a>
   </div>

  </div>
</li>
<li class="nav-item">
  <a  class="nav-link" href="/salary/report">  إدارة الرواتب</a>
</li>
<li class="nav-item dropdown ">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة الفواتير
  </a>
  <div  style="text-align: center"  class="dropdown-menu float-right" dir="rtl" aria-labelledby="navbarDropdownMenuLink">
    <div style="text-align: center"  class="center"> 

          <a  class="dropdown-item float-right " href="/invoice/add">اضافة فاتورة</a>
    <a  style="float: right;" class="dropdown-item float-right " href="/invoice">عرض فواتير</a>
    <a  style="float: right;" class="dropdown-item float-right" href="/invoice/report">تقرير الفواتير</a>
    </div>

  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/dailyIncome">إدارة اليوميات</a>
</li>
<li class="nav-item dropdown ">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة العهدة
  </a>
  <div class="dropdown-menu" dir="rtl" aria-labelledby="navbarDropdownMenuLink">
    <div style="text-align: center"  class="center">    <a class="dropdown-item" href="/custody/add">اضافة عهدة</a>
    <a class="dropdown-item" href="/custody/">تقارير العهدة</a>
    <a class="dropdown-item" href="/custodyRequest"> حالة الطلب </a></div>

  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/transfers">ادارة التحويلات</a>
</li>