{{!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة الشركات والفروع
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/companies">عرض الشركات</a>
    <a class="dropdown-item" href="/branches">عرض الفروع</a>
    <a class="dropdown-item" href="/companies/add">اضافة شركة</a>
    <a class="dropdown-item" href="/branches/add">اضافة فرع</a>
  </div>
</li> --}}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة المستخدمين
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <div style="text-align: center"  class="center"> 
    <a class="dropdown-item" href="/users">عرض المستخدمين</a>
    <a class="dropdown-item" href="/users/add">اضافة مستخدم</a>
    </div>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة الموظفين
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <div style="text-align: center"  class="center"> 
    <a class="dropdown-item" href="/employees">عرض الموظفين</a>
    <a class="dropdown-item" href="/employees/add">اضافة موظف</a>
  </div>
    </div>
</li>