<li class="nav-item">
  <a class="nav-link" href="/sales/add">إضافة مبيعات</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/sales/report">تقرير المبيعات</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/sales/monthlyReport">تقرير شهري</a>
</li>