<li class="nav-item">
  <a class="nav-link" href="/invoice/add">اضافة فاتورة</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/invoice">عرض فواتير</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/invoice/report">تقرير الفواتير</a>
</li>
