<li class="nav-item   dropdown ">
  <a class="  nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة الأصناف
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/items/add" >إضافة صنف</a>
    <a class="dropdown-item" href="/items">عرض الأصناف</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    إدارة المخزون
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/store">عرض المخزون</a>
    <a class="dropdown-item" href="/store/report">تقرير المخزون</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
     المبيعات
  </a>
      <div style="text-align: center"  class="center"> 
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/sales"> عرض المبيعات</a>
    <a class="dropdown-item" href="/sales/add"> إدارة المبيعات</a>
      </div>
  </div>
</li>