@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --colorNavbar: #023047;
  --colorHover2: #ffb703;
  --colorButi1: #ebedf2;
  --bgColor: rgba(0, 0, 0, 0.03);
}
@media print {
  body {
    overflow: visible !important;
  }
}
/* @font-face {
  font-family: 'cairo', 'Sakkal Majalla';
  src: url('./majalla.ttf');
} */
td {
  text-align: center;
}
th {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

html,
body {
  font-family: "Cairo", sans-serif !important;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bgColor);
  color: #fff;
}

.navbar_color {
  background-color: var(--colorNavbar);
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #f5f5f5;
  border: 1.3px solid;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  height: auto;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #f6f6f6;
  color: #023047;
  transition: all 0.7s ease;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: inherit;
    color: #fff;
    transition: all 0.7s ease;
  }
}

.user-image {
  margin: -5px 10px 0px 0;
  width: 2rem;
  height: 2rem;
}

.dropdown-toggle::after {
  content: none;
}

.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

.navContainer {
  display: contents;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.logoImg {
  width: 10%;
}

@media (max-width: 767px) {
  .logoImg {
    visibility: hidden;
  }
  .navLogOut .nav-link {
    border: none !important;
  }
  .navLogo {
    margin-top: -70px;
  }
  .select {
    margin: 0;
    font-size: 20px;
  }
  .tableheader {
    width: auto !important;
  }
  .Center {
    display: grid;
  }
  .width-edit {
    width: 15rem;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: initial !important;
  }
  .navLogOut {
    width: auto !important;
    margin-top: inherit;
  }
  .bgColor h2 {
    font-size: 65px !important;
    top: 80vh !important;
    left: 50vw !important;
  }
  .show + .navLogOut {
    right: 4rem;
    width: auto;
    margin-top: inherit;
    position: relative;
  }
}
@media (min-width: 767px) and(max-width:1025px) {
  .navLogOut {
    width: 100% !important;
  }
}
.navLinks {
  width: 70%;
  margin-top: 10px;
}

.navLogOut {
  /* width: 35%; */
  margin-top: 10px;
}

.navLogo {
  width: 100px;
  height: 80px;
}
.navItems {
  display: flex;
  justify-content: center;
}

.uber_image {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.lower_image {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

/* .headerClass {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #BF8F00;
  height: 35px;
  border-radius: 50px;
  color: white;
  width: 60%;
} */

.headerPage {
  justify-content: center;
  padding-top: 0px;
  margin: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.Title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: auto;
  background-color: var(--colorNavbar);
  border-radius: 1em;
  padding: 10px;
}

input {
  text-align: center;
}

.btnclass {
  padding: 5px 10px;
  height: auto;
  width: 10rem !important;
  text-align: center;
  font-size: 18px;
  color: white;
  border-radius: 15px;
  background-color: var(--colorNavbar);
  border: none;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.btnclass:hover {
  background-color: #023047d3;
  transition: all 0.7s ease;
}
h6 {
  text-decoration: none;
}
.select {
  margin-bottom: 0;
  font-size: 20px;
}
h6.select {
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.tableheader {
  color: var(--colorNavbar);
  height: auto;
  text-align: center;
  font-size: 30px;
  width: auto;
  padding-right: 6px;
  height: auto;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid;
  border: none;
}
.ptable {
  text-align: center;
}

.totalBtn {
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 0 10px;
  margin: 0 5px;
}

.totaldiv {
  display: flex;
  justify-content: center;
}

.Center {
  display: flex;
  justify-content: center;
}
a {
  border: none;
  color: #fff;
  text-decoration: none !important;
}

.bgColor h2 {
  font-weight: bold;
  position: absolute;
  top: 62vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #ffb703;
  font-size: 100px;
  text-align: center;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #023047;
}
.option {
  color: var(--colorNavbar);
  outline: none;
  border: none;
}
.width-edit {
  width: 23rem;
}

.note {
  line-height: 0;
  float: right;
  background-color: var(--colorNavbar);
  width: 10rem;
  color: #fff;
  font-size: 14px;
}

.noBorder {
  border: none;
}

.signature {
  width: auto !important;
}
.cursor {
  cursor: pointer;
}
.width8rem {
  min-width: 8rem !important;
}
.width6rem {
  width: 6rem !important;
}
input[type="checkbox"],
input[type="radio"] {
  height: 40px;
}
.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler-icon {
  color: #fff;
}
.hoverOption:focus,
.hoverOption:hover {
  background-color: var(--colorNavbar) !important;
}
.card .card-header,
.card-light .card-header {
  color: var(--colorNavbar) !important;
}
.form-group label,
.form-check label {
  margin-bottom: 0.5rem;
  color: #495057;
  /* font-weight: 600; */
  font-size: 1rem;
  white-space: nowrap;
}
.swal-modal {
  height: auto;
  width: 235px;
  border-radius: 15px;
  background-color: var(--colorNavbar);
}

.swal-title,
.swal-footer,
.swal-text {
  font-size: 16px;
  color: #fff !important;
  text-align: center;
}
/* 
.btn-success,.btn-success:hover{
  font-weight: bold;
  background-color:#fff !important;
  color: var(--colorNavbar) !important;
} */
.d-income-tr {
  background-color: inherit !important;
}
