<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>أهلا بك {{name}},</p>
        <p>لقد قمت بطلب لاستعادة كلمة المرور</p>
        <p> اضغط على الرابط في الأسفل</p>
        <a href="{{url}}">استعادة كلمة المرور </a>
    </body>
</html>