{{> header}}
{{> navbar/navbar}}

<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="col-md-4">
      {{#if successMessage}}
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        {{successMessage}}
      </div>
      {{/if}}
      {{#if errorMessage}}
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        {{errorMessage}}
      </div>
      {{/if}}
      <div>
        <div class="headerPage">
          <div class="Title">
            <h2 class="text-center" style="text-align: center; color:white;">تغيير كلمة المرور</h2>
          </div>
        </div>
        <div class="card-body p-0">
          <form action="/users/changePassword" method="POST">
            <div class="login-form">
              <div class="form-group">
                <label for="currentPassword" class="placeholder float-right">
                  <p class="select"> <b>كلمة المرور الحالية</b></p>
                </label>
                <input id="currentPassword" name="currentPassword" type="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="newPassword" class="placeholder float-right">
                  <p class="select"><b>كلمة المرور الجديدة</b> </p>
                </label>
                <input id="newPassword" name="newPassword" type="password" class="form-control" required>
                <div class="show-password">
                </div>
              </div>
              <div class="form-group form-action-d-flex mb-3">
                <button class="btnclass col-md-4 float-right mt-3 mt-sm-0 fw-bold">
                  <h6 class="select"> تغيير</h6>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> footer/companyFooter}}